<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xkQOFe1Fjfw?start=600" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        24,697,205 回視聴・2018/07/31
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        概要欄
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        僕らでラーメンといえば、サチオさんことキブサチか、まんぷく家ってイメージでしょうか。岡崎市には他にもたくさんのおいしいラーメン屋さんがありますが、特に行きがちなのはこの二店舗です。もはや観光名所かよってくらい視聴者さんは足を運んでくれているようです。キブサチでおすすめなのはたくさんありますが、「スペシャル醤油」が初めて来る人には勧めがちです。セイキンさんにもこの前おすすめさせていただきました。メニューに載っているやつ全部が美味すぎるので、毎回毎回「うわぁー！どれにしようかやぁ！」って言ってます。食べ終わったらサチオさん(厨房にいる声がでかいおじさん)に「ごちそうさま、おいしかったです！」と言いましょう。喜んでくれます。「もし不味かったらチ○コ出してやるわ！！ガーッハッハッ」ってこの前言われました。皆さんも気をつけてください。（編集：としみつ）
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        関連情報
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        概要欄
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card (click)="presentModal()">
        <img src="assets/thumbnails_sample.jpg">
        <ion-card-header>
          <ion-badge color="primary">11</ion-badge>
          <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
       </ion-card-header>
      </ion-card>    
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/thumbnails_sample.jpg">
        <ion-card-header>
          <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
       </ion-card-header>
      </ion-card>    
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/thumbnails_sample.jpg">
        <ion-card-header>
          <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
       </ion-card-header>
      </ion-card>    
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/thumbnails_sample.jpg">
        <ion-card-header>
          <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
       </ion-card-header>
      </ion-card>    
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/thumbnails_sample.jpg">
        <ion-card-header>
          <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
       </ion-card-header>
      </ion-card>    
    </ion-slide>
  </ion-slides>
  
</ion-content>

