<ion-slides [options]="slideOpts">
  <ion-slide>
    <ion-card (click)="presentModal()">
      <img src="assets/thumbnails_sample.jpg">
      <ion-card-header>
        <ion-badge color="primary">11</ion-badge>
        <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
     </ion-card-header>
    </ion-card>    
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="assets/thumbnails_sample.jpg">
      <ion-card-header>
        <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
     </ion-card-header>
    </ion-card>    
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="assets/thumbnails_sample.jpg">
      <ion-card-header>
        <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
     </ion-card-header>
    </ion-card>    
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="assets/thumbnails_sample.jpg">
      <ion-card-header>
        <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
     </ion-card-header>
    </ion-card>    
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="assets/thumbnails_sample.jpg">
      <ion-card-header>
        <ion-card-subtitle>【ゼロからの仕込み】ガチンコ！！ラーメン作り対決！！！！！</ion-card-subtitle>
     </ion-card-header>
    </ion-card>    
  </ion-slide>
</ion-slides>
