$base-color: #c6538c;

$base-color-black: #333333;

// メンバーカラー
$tetsuya-color: orange;
$ryo-color: blue;
$shibayu-color: yellow;
$toshimitsu-color: green;
$yumemaru-color: pink;
$mushimegane-color: brown;
