<ion-header [translucent]="true">
  <ion-searchbar></ion-searchbar>
  <!-- <ion-toolbar>
    <ion-title>
      Tab 1aa
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <!-- トップカルーセル -->
    <ion-row>
      <ion-col class="ion-margin-bottom">
        <home-top-carousel></home-top-carousel>
      </ion-col>
    </ion-row>
    <!-- 人気の動画 -->
    <ion-row>
      <ion-col class="ion-margin-bottom">
        <div>
          人気の動画
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <div>
          <videos-list></videos-list>
        </div>
      </ion-col>
    </ion-row>
    <!-- 各メンバーの動画 -->
    <ion-row>
      <ion-col>
        <div class="tetsuya-col">
          てつやコレクション
        </div>
        <div>
          <videos-list></videos-list>
        </div>
      </ion-col>
    </ion-row>

    <!-- 各メンバーコレクション -->
    <ion-row>
      <ion-col>
        <div class="tetsuya-col">
          メンバーコレクション
        </div>
        <div>
          <member-collection></member-collection>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
